{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Новый вопрос{% endblock %}

{% block content %}
<div class="container my-5 p-4 border rounded bg-light shadow-lg">

    <h2 class="text-center mb-5 text-primary font-weight-bold">Добавить новый вопрос</h2>

    <form method="POST" class="mb-4">
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        <div class="form-group mb-4">
            <label for="{{ form.question.id_for_label }}" class="form-label">{{ form.question.label }}</label>
            {{ form.question|add_class:"form-control" }}
        </div>

        <div class="form-group mb-4">
            <label for="{{ form.is_free.id_for_label }}" class="form-label">{{ form.is_free.label }}</label>
            {{ form.is_free }}
        </div>

        <div class="form-group mb-4" id="answer-field" style="display: none;">
            <label for="{{ form.answer.id_for_label }}" class="form-label">{{ form.answer.label }}</label>
            {{ form.answer|add_class:"form-control" }}
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-lg px-4 py-2">
                <i class="fas fa-save"></i> Сохранить
            </button>
        </div>
    </form>

</div>

<script>
    function toggleAnswerField() {
        const isFreeField = document.getElementById('{{ form.is_free.id_for_label }}');
        const answerField = document.getElementById('answer-field');
        answerField.style.display = isFreeField.value === "True" ? 'block' : 'none';
    }

    document.getElementById('{{ form.is_free.id_for_label }}').addEventListener('change', toggleAnswerField);
    document.addEventListener('DOMContentLoaded', toggleAnswerField);
</script>

{% endblock %}
