{% extends "base.html" %}

{% load static %}
{% block title %}Открытие формы{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4">Введите код опроса</h2>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3 input-group">
                <i class="bi bi-lock"></i>
                {{ form.as_p }}
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary w-100 d-flex align-items-center justify-content-center">
                    <i class="bi bi-send me-2"></i>
                    Отправить
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
